<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <meta descr="Suivez vos emprunts entre amis.">
    
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
   
</head>
<body>

<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">Petits Emprunts</a></li>
                    </ul>
                </div>
            </div>
</nav>

<div class="container hero-unit">
                <div class="row-fluid">
                    <div class="span12">
                        <h1 class="text-center">Connectez-vous</h1>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span4 offset4 text-center">

                        <hr>

                        <% if (googleSignupMessage.length > 0) { %>
                            <div class="alert alert-danger"><%= googleSignupMessage %></div>
                        <% } %>
                        <% if (fbSignupMessage.length > 0) { %>
                            <div class="alert alert-danger"><%= fbSignupMessage %></div>
                        <% } %>

                        <table>
                            <tr>
                                <td><a href="/auth/google" class="btn btn-danger">Connexion avec Google+</a></td>
                                <td><a href="/auth/facebook" class="btn btn-primary">Connexion avec Facebook</a></td>
                            </tr>
                        </table>
                    
                    <hr>
                    
                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                        <% if (pwdChangedMessage.length > 0) { %>
                            <div class="alert alert-success"><%= pwdChangedMessage %></div>
                        <% } %>

                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Adresse email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="mot de passe">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="rememberme" value="yes"><small>Rester connecté(e)</small>
                            </div>
                            <button type="submit" class="btn btn-info btn-lg">Me connecter</button>
                        </form>
                    <hr>
                    <p><small><a href="/signup">Besoin de créer un compte ?</a></small></p>
                    <p><small><a href="/pwdrecovery">Mot de passe perdu ?</a></small></p>

                    </div>
                </div>

</div>


<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>
</body>
</html>