<!-- views/signup.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">Petits Emprunts</a></li>
                    </ul>
                </div>
            </div>
</nav>

<div class="container hero-unit">
    <div class="row-fluid">
        <div class="span12">
            <h1 class="text-center">Créer un compte</h1>
        </div>

        <div class="span4 offset4">
            <hr>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <% if (messageSuccess.length > 0) { %>
                <div class="alert alert-success"><%= messageSuccess %></div>
            <% } %>            

            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Adresse email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="mot de passe">
                </div>

                <button type="submit" class="btn btn-info btn-lg">Créer</button>
            </form>

            <hr>

            <p><small>Vous avez déjà un compte? <a href="/">S'authentifier</a></small></p>

        </div>
    </div>
</div>

<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>

</body>
</html>