<!-- views/activateaccount.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/nolognavbar %>

<div class="container hero-unit">
    <div class="row-fluid">

        <div class="span12">
            <h1 class="text-center">Bienvenue sur petits Emprunts, compte activé</h1>
        </div>

        <div class="span4 offset4">
            <hr>
            <!-- show any messages that come back with changepwd -->
            <% include ../partials/messages %>

            <hr>

            <p><small><a href="/">home</a></small></p>

        </div>

    </div>

</div>

<footer>
    <% include ../partials/footer %>
</footer>

    <% include ../partials/scripts %>

</body>
</html>