<!-- views/signup.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/nolognavbar %>

<div class="container hero-unit">
    <div class="row-fluid">
        <div class="span12">
            <h1 class="text-center">Créer un compte</h1>
        </div>

        <div class="span4 offset4">
            <hr>

            <% include ../partials/messages %>        

            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Adresse email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="mot de passe">
                </div>

                <button type="submit" class="btn btn-info btn-lg">Créer</button>
            </form>

            <hr>

            <p><small>Vous avez déjà un compte? <a href="/">S'authentifier</a></small></p>

        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

    <% include ../partials/scripts %>
    
</body>
</html>